:host {
  header {
    padding: 1rem;
    text-align: center;
  }

  main {
    width: 100%;
    max-width: 890px;
    margin: auto;
    padding: 0 1rem 1rem;

    .searchPokemon {
      .hidden-filters,
      .selects label {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    
      .hidden-filters {
        margin-top: 1rem;

        p {
          color: var(--gray);
        }
  
        .selects {
          display: flex;
          gap: 1rem;
          margin-top: 1rem;

          select {
            margin-top: .3125rem;
            padding: .375rem;
            background: var(--white);
            box-shadow: var(--card-shadow);
            border: none;
            border-radius: .3125rem;
          }
        }
      }

      label {
        position: relative;
        display: block;
        width: 100%;
        max-width: 566px;
        margin: auto;
      }

      #pokemonId {
        width: 100%;
        padding: .8rem;

        font: inherit;
        color: var(--search-input-color);
        box-shadow: var(--card-shadow);
        
        border: none;
        border-radius: 1.5rem;

        &:focus, 
        &:focus-visible {
          outline: none;
          box-shadow: 0 0 5px 1px var(--queen-blue);
        }
      }

      #searchBtn {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        background: none;
        border: none;
      }
    }
  }
}