<header>
  <div class="title"><h1>pokedéx</h1></div>
  <div class="account">
    <img src="" alt="profile" />
  </div>
</header>
<main>
  <form>
    <div class="pokeInfoSearch">
      <label for="pokeInfoId"
        ><input type="text" name="pokeInfo" id="pokeInfoId"
      /></label>
      <button type="button">procurar</button>
    </div>
    <div class="filters">
      <label for="filterTypesId">
        Tipos
        <select name="filterTypes" id="filterTypesId">
            @for (item of typesList()?.results; track $index) {
                <option>{{item.name}}</option>
            }    
        </select
      ></label>
      <label for="filterWeaknesessId"
        >Fraquezas<select
          name="filterWeaknesess"
          id="filterWeaknesessId"
        >
        @for (item of typesList()?.results; track $index) {
                <option>{{item.name}}</option>
            }    
        </select
      ></label>
      <label for="filterAbilityId"
        >Habilidade<select
          name="filterAbility"
          id="filterAbilityId"
        ></select
      ></label>
      <label for="filterHeightId"
        >Altura<select
          name="filterHeight"
          id="filterHeightId"
        ></select
      ></label>
      <label for="filterWeightId"
        >Peso<select
          name="filterWeight"
          id="filterWeightId"
        ></select
      ></label>
    </div>
  </form>
</main>
