<div class="container">
  <mat-dialog-content>
    <header>
      <button (click)="closeModal()">
        <img src="icons/close.svg" alt="Fechar" width="20" height="20">
      </button>
      <h2 class="pokemon-name">
        {{ getPokemon().name }}
        <span>&num;{{ getPokemon().id }}</span>
      </h2>
      <div class="types">
        @for (type of getPokemon().types; track $index) {
        <span [class]="'type-' + type.type.name + ' type-' + type.type.name + '-bg'">{{ type.type.name }}</span>
        }
      </div>
    </header>
    <div class="pokemon-body-stats">
      <p class="weight">
        Peso: <span>{{ getPokemon().weight / 10 }} Kg</span>
      </p>
      <p class="height">
        Altura:
        <span>{{ getPokemon().height / 10 }} m</span>
      </p>
    </div>
    <div class="pokemon-abilities-stats">
      <div class="abilities-stat-name">
        @for (stat of getPokemon().stats; track $index) {
          <div class="stat-name">{{ stat.stat.name }}</div>
        }
      </div>
      <div class="abilities-stat-value">
        @for (stat of getPokemon().stats; track $index) {
          <div class="progress-bar type-{{getPokemon().types[0].type.name}}-bg">
            <div class="total-progress-line">
              <div 
              class="type-{{getPokemon().types[0].type.name}} progress-indicator-line" 
              [style.width.%]="calculateStatsPercentage(stat.base_stat, stat.stat.name)" [style.minWidth.px]="20">
              <span>{{stat.base_stat}}</span>
            </div>
            </div>
          </div>
        }
      </div>
    </div>
    <div class="weaknesses">
      @if (pokemonWeaknesses$ | async; as weaknesses ) {
      <h3>weaknesses</h3>
      <div class="types">
          @for (item of weaknesses; track $index) {
            <span [class]="'type-' + item + ' type-' + item + '-bg'">{{item}}</span>
          }
        </div>
      }
    </div>
  </mat-dialog-content>
</div>
