<div class="container">
  <mat-dialog-content>
    <header>
      <button (click)="closeModal()">X</button>
      <h2 class="pokemon-name">
        {{ getPokemon().name }}
        <span>&num;{{ getPokemon().id }}</span>
      </h2>
      <div class="types">
        @for (type of getPokemon().types; track $index) {
        <span [class]="'type-' + type.type.name + ' type-' + type.type.name + '-bg'">{{ type.type.name }}</span>
        }
      </div>
    </header>
    <div class="pokemon-body-stats">
      <p class="weight">
        Peso: <span>{{ getPokemon().weight / 10 }} Kg</span>
      </p>
      <p class="height">
        Altura:
        <span>{{ getPokemon().height / 10 }} m</span>
      </p>
    </div>
    <div class="pokemon-abilities-stats">
      <div class="abilities-stat-name">
        @for (stat of getPokemon().stats; track $index) {
          <div class="stat-name">{{ stat.stat.name }}</div>
        }
      </div>
      <div class="abilities-stat-value">
        @for (stat of getPokemon().stats; track $index) {
          <div class="progress-bar">
            <mat-progress-bar
              class="example-margin"
              mode="determinate"
              [value]="calculateStatsPercentage(stat.base_stat, stat.stat.name)">
            </mat-progress-bar> 
          </div>
        }
      </div>
    </div>
  </mat-dialog-content>
</div>
