:root {
    --search-input-color: #555;
    --queen-blue: #376BBB;
    --load-more-btn: #376BBB;
    --load-more-btn-disabled: #254370;
    --home-background: #f9f9f9;
    --card-shadow: 0px 0px 16px 0px #00000018;
    --white: #fff;
    --gray: #ccc;
}