:root {
  --search-input-color: #555;
  --queen-blue: #376bbb;
  --load-more-btn: #376bbb;
  --load-more-btn-disabled: #254370;
  --home-background: #f9f9f9;
  --card-shadow: 0px 0px 16px 0px #00000018;
  --white: #fff;
  --gray: #ccc;

//   pokemon type icon color
  --bug-color: #92bc2c;
  --dark-color: #595761;
  --dragon-color: #0c69c8;
  --electric-color: #f2d94e;
  --fire-color: #fba54c;
  --fairy-color: #ee90e6;
  --fighting-color: #d3425f;
  --flying-color: #a1bbec;
  --ghost-color: #5f6dbc;
  --grass-color: #5fbd58;
  --ground-color: #da7c4d;
  --ice-color: #75d0c1;
  --normal-color: #a0a29f;
  --poison-color: #b763cf;
  --psychic-color: #fa8581;
  --rock-color: #c9bb8a;
  --steel-color: #5695a3;
  --water-color: #539ddf;

  // pokemon button background
  --normal-color-alt: #b5b9c4;
  --fire-color-alt: #ff9c54;
  --water-color-alt: #4a90dd;
  --electric-color-alt: #f2cb55;
  --grass-color-alt: #49d0b0;
  --ice-color-alt: #73cec0;
  --fighting-color-alt: #ce416b;
  --poison-color-alt: #b567ce;
  --ground-color-alt: #d97845;
  --flying-color-alt: #89aae3;
  --psychic-color-alt: #fa7179;
  --bug-color-alt: #8bd674;
  --rock-color-alt: #c5b78c;
  --ghost-color-alt: #8571be;
  --dragon-color-alt: #0a6dc4;
  --dark-color-alt: #5a5465;
  --steel-color-alt: #4c91b2;
  --fairy-color-alt: #ec8fe6;

  // pokemon types on modal
  --bug-type: #9BBA48;
  --dark-type: #595761;
  --dragon-type: #2C6AC1;
  --electric-type: #D4BC34;
  --fairy-type: #E296E1;
  --fighting-type: #C44D61;
  --ground-type: #CE8056;
  --ice-type: #71BAAC;
  --normal-type: #909090;
  --poison-type: #AC6ACA;
  --psychic-type: #EB8B85;
  --rock-type: #84BEB3;
  --ghost-type: #616EB7;
  --grass-type: #73B861;
  --steel-type: #6594A1;
  --water-type: #4F77BE;
  --fire-type: #E96303;
  --flying-type: #758CBD;

  /* background colors (20% opacity) */
  --bug-type-bg: color-mix(in srgb, var(--bug-type) 20%, transparent);
  --dark-type-bg: color-mix(in srgb, var(--dark-type) 20%, transparent);
  --dragon-type-bg: color-mix(in srgb, var(--dragon-type) 20%, transparent);
  --electric-type-bg: color-mix(in srgb, var(--electric-type) 20%, transparent);
  --fairy-type-bg: color-mix(in srgb, var(--fairy-type) 20%, transparent);
  --fighting-type-bg: color-mix(in srgb, var(--fighting-type) 20%, transparent);
  --ground-type-bg: color-mix(in srgb, var(--ground-type) 20%, transparent);
  --ice-type-bg: color-mix(in srgb, var(--ice-type) 20%, transparent);
  --normal-type-bg: color-mix(in srgb, var(--normal-type) 20%, transparent);
  --poison-type-bg: color-mix(in srgb, var(--poison-type) 20%, transparent);
  --psychic-type-bg: color-mix(in srgb, var(--psychic-type) 20%, transparent);
  --rock-type-bg: color-mix(in srgb, var(--rock-type) 20%, transparent);
  --ghost-type-bg: color-mix(in srgb, var(--ghost-type) 20%, transparent);
  --grass-type-bg: color-mix(in srgb, var(--grass-type) 20%, transparent);
  --steel-type-bg: color-mix(in srgb, var(--steel-type) 20%, transparent);
  --water-type-bg: color-mix(in srgb, var(--water-type) 20%, transparent);
  --fire-type-bg: color-mix(in srgb, var(--fire-type) 20%, transparent);
  --flying-type-bg: color-mix(in srgb, var(--flying-type) 20%, transparent);
  --azul-primary: #3F5DB3;
}
