:host {
  width: 80%;
  min-width: fit-content;

  .pokemon-card {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 170px;
    padding: 0.7rem;

    border-radius: 1rem;
    background: var(--white);
    box-shadow: var(--card-shadow);

    button {
      width: 136px;
      height: 136px;
      border: transparent;
      border-radius: 50%;

      img {
        width: 110px;
        height: 110px;
      }
    }

    .pokemon-image.normal {
      background: var(--normal-color-alt);
    }

    .pokemon-image.fire {
      background: var(--fire-color-alt);
    }

    .pokemon-image.water {
      background: var(--water-color-alt);
    }

    .pokemon-image.electric {
      background: var(--electric-color-alt);
    }

    .pokemon-image.grass {
      background: var(--grass-color-alt);
    }

    .pokemon-image.ice {
      background: var(--ice-color-alt);
    }

    .pokemon-image.fighting {
      background: var(--fighting-color-alt);
    }

    .pokemon-image.poison {
      background: var(--poison-color-alt);
    }

    .pokemon-image.ground {
      background: var(--ground-color-alt);
    }

    .pokemon-image.flying {
      background: var(--flying-color-alt);
    }

    .pokemon-image.psychic {
      background: var(--psychic-color-alt);
    }

    .pokemon-image.bug {
      background: var(--bug-color-alt);
    }

    .pokemon-image.rock {
      background: var(--rock-color-alt);
    }

    .pokemon-image.ghost {
      background: var(--ghost-color-alt);
    }

    .pokemon-image.dragon {
      background: var(--dragon-color-alt);
    }

    .pokemon-image.dark {
      background: var(--dark-color-alt);
    }

    .pokemon-image.steel {
      background: var(--steel-color-alt);
    }

    .pokemon-image.fairy {
      background: var(--fairy-color-alt);
    }

    .pokemon-info {
      width: calc(100% - 136px);
      height: 100%;
      padding-left: 1rem;

      .pokemon-id span {
        line-height: 2rem;
        color: var(--search-input-color);
      }

      .pokemon-name span {
        font-size: 1.1rem;
        font-weight: bold;
      }

      .pokemon-types {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 0.6rem;

        margin-top: 1rem;

        .type-icon {
          position: relative;
          border-radius: 100%;
          height: 2.5rem;
          width: 2.5rem;
          transition: 200ms all;

          img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 60%;
            width: 60%;
          }
        }

        .bug {
          background: var(--bug-color);
        }

        .dark {
          background: var(--dark-color);
        }

        .dragon {
          background: var(--dragon-color);
        }

        .electric {
          background: var(--electric-color);
        }

        .fire {
          background: var(--fire-color);
        }

        .fairy {
          background: var(--fairy-color);
        }

        .fighting {
          background: var(--fighting-color);
        }

        .flying {
          background: var(--flying-color);
        }

        .ghost {
          background: var(--ghost-color);
        }

        .grass {
          background: var(--grass-color);
        }

        .ground {
          background: var(--ground-color);
        }

        .ice {
          background: var(--ice-color);
        }

        .normal {
          background: var(--normal-color);
        }

        .poison {
          background: var(--poison-color);
        }

        .psychic {
          background: var(--psychic-color);
        }

        .rock {
          background: var(--rock-color);
        }

        .steel {
          background: var(--steel-color);
        }

        .water {
          background: var(--water-color);
        }
      }
    }
  }
}
