@if (!loading()) {
    <button class="pokemon-image {{pokemon().types[0].type.name}}" (click)="openDialog(pokemon())">
      <img [src]="pokemon().sprites.front_default" [alt]="pokemon().name" width="110px" height="110px" />
    </button>
    <div class="pokemon-info">
      <p class="pokemon-id">
        #{{pokemon().id}}
      </p>
      <p class="pokemon-name">
        <strong>{{pokemon().name}}</strong>
      </p>
    </div>

  <!-- <div class="pokemon-card">
    <div class="pokemon-info">
      <p cla  ss="pokemon-id">
        <span>&num;{{ pokemon().id }}</span>
      </p>
      <p class="pokemon-name">
        <span>
          {{ pokemon().name }}
        </span>
      </p>
      <div class="pokemon-types">
        @for (type of pokemon().types; track $index) {
          <div class="type-icon {{type.type.name}}">
            <img src="icons/pokemon-types/{{type.type.name}}.svg" alt="{{type.type.name}}" title="{{type.type.name}}">
          </div>
        }
      </div>
    </div>
  </div> -->
} @else {
  <p>Loading...</p>
}