:host {
  .pokemon-card {
    width: fit-content;
    height: 250px;
    padding: 10px;
    border-radius: 1rem;

    button {
      background: none;
      border: transparent;
    }
  }
  
  .normal {
    background: #b5b9c4;
  }
  .fire {
    background: #ff9c54;
  }
  .water {
    background: #4a90dd;
  }
  .electric {
    background: #f2cb55;
  }
  .grass {
    background: #49d0b0;
  }
  .ice {
    background: #73cec0;
  }
  .fighting {
    background: #ce416b;
  }
  .poison {
    background: #b567ce;
  }
  .ground {
    background: #d97845;
  }
  .flying {
    background: #89aae3;
  }
  .psychic {
    background: #fa7179;
  }
  .bug {
    background: #8bd674;
  }
  .rock {
    background: #c5b78c;
  }
  .ghost {
    background: #8571be;
  }
  .dragon {
    background: #0a6dc4;
  }
  .dark {
    background: #5a5465;
  }
  .steel {
    background: #4c91b2;
  }
  .fairy {
    background: #ec8fe6;
  }
}
