<div class="container">
  @if (filteredPokemons$ | async; as pokemons) {
    <div class="list-status">
      <p>Mostrando {{pokemons.length}} de {{pokemonListLentgh}} pokemons carregados</p>
      @if (!pokemons.length) {
        <br>
        <p>Nenhum resultado para os filtros selecionados... Tente novos filtros ou carregar mais.</p>
      }
    </div>
    <div class="pokemon-list">
      @for (pokemon of pokemons; track pokemon.id) {
        <app-pokemon-item [pokemonData]="pokemon" [id]="pokemon.id" />
      }
    </div>
    <div class="load-more">
      @if (!(loading$ | async)) {
        <img src="icons/loading.gif" alt="loading gif" width="50" height="50">
      }
      <button (click)="loadMorePokemons()" [disabled]="!(loading$ | async)">
        {{ (!(loading$ | async)) ? 'Carregando...' : 'Carregar  mais'}}
      </button>
    </div>
    }
</div>