:host {
  display: block;
  width: 100%;

  .container {
    margin-top: 1rem;
  }

  .pokemonList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .7rem;
    width: 100%;
  }

  .listStatus {
    margin-bottom: .625rem;
    text-align: center;
    font-size: small;
  }

  .loadMore {
    display: flex;
    justify-content: center;
    margin: 1.6rem;
    
    button {
      padding: .6rem 2rem;
      font: inherit;
      border: none;
      background: var(--load-more-btn);
      color: var(--white);
      border-radius: .4rem;
      cursor: pointer;

      &:disabled {
        background: var(--load-more-btn-disabled);
        cursor: not-allowed;
        color: var(--gray);
      }
    }
  }
}
