:host {
  display: block;
  width: 100%;

  .container {
    margin-top: 1rem;
  }

  .pokemon-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .7rem;
    width: 100%;
  }

  .list-status {
    margin-bottom: .625rem;
    text-align: center;
    font-size: small;
  }

  .load-more {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.6rem;
    text-align: center;
    
    img {
      margin-bottom: 1rem;
    } 
    
    button {
      width: 100%;
      max-width: 330px;
      padding: .6rem 2rem;
      font: inherit;
      border: none;
      background: var(--load-more-btn);
      color: var(--white);
      border-radius: .4rem;
      cursor: pointer;

      &:disabled {
        background: var(--load-more-btn-disabled);
        cursor: not-allowed;
        color: var(--gray);
      }
    }
  }
}
